@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

.anime-body {
font-family: 'Baloo Da', sans-serif;
  text-align:center;
  margin: 0 auto;
  background-color: #232946;
  padding-top:2rem;
  padding-bottom: 2rem;
}

.anime-body h1 {
  color: #fffffe;
  font-size: 2.5rem;
  margin-top: 0;
}

.anime-body h2 {
  margin: .75rem;
  font-size: 2.25rem;
}

.day-container {
  background-color: #b8c1ec;
  padding: 1.5rem;
  border-radius: 3px;
  border: 6px solid #eebbc3;
  margin:0 auto;
  margin-bottom: 2rem;
  color: #232946;
  font-size: 1.25rem;
  max-width: 70%;
}

.show-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  object-fit: cover;
}

.show-grid div {
  background-color: #fffffe;
  padding: .75rem;
  border-radius: 3px;
}

.show-grid div img {
  max-width:100%;
  height: auto;
}