@import url('https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn&display=swap');

$index-gradient: linear-gradient(108.73492398522592deg, hsl(49, 89%, 78%) 6.140625%,hsl(336, 76%, 85%) 95.51562499999999%);
$work-gradient: linear-gradient(108.73492398522592deg, hsl(340, 78%, 87%) 6.140625%,hsl(193, 86%, 83%) 95.51562499999999%);
$articles-gradient: linear-gradient(108.73492398522592deg, hsl(42, 100%, 81%) 6.140625%,hsl(342, 100%, 73%) 95.51562499999999%);
$contact-gradient: linear-gradient(108.73492398522592deg, hsl(72, 88%, 75%) 6.140625%,hsl(188, 95%, 64%) 95.51562499999999%);


.body__background-gradient--index {
	background-image: $index-gradient;
	background-attachment: fixed;
	background-size: contain;
}

.body__background-gradient--work {
	background-image: $work-gradient;
	background-attachment: fixed;
	background-size: cover;
}

.body__background-gradient--articles {
	background-image: $articles-gradient;
	background-attachment: fixed;
}

.body__background-gradient--contact {
	background-image: $contact-gradient;
	background-attachment: fixed;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: hsl(0, 0%, 25%);
	margin: 0;
}

img {
	max-width: 100%;
}

main {
	background-color:hsl(0, 0%, 100%);
}

.content-section {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.navigation {
	display: flex;
	margin: .5rem;
	padding: 0;
	list-style: none;
	font-size: 1.2rem;
	background-color: hsl(0, 0%, 100%);

    a {
		padding: .5rem 1rem;
      	margin: 0 .25rem 0 .25rem;
      	display: block;
      	text-decoration: none;
      	color: hsl(0, 0%, 35%);
      	border-radius: 7px;
    }

	.work-gradient-active,
	.work-gradient:hover,
	.work-gradient:focus {
      	background-image: $work-gradient;
      	color: hsl(0, 0%, 0%) !important
    }

	.articles-gradient-active,
	.articles-gradient:hover,
	.articles-gradient:focus {
    	background-image: $articles-gradient;
      	color: hsl(0, 0%, 0%) !important
    }

	.contact-gradient-active,
	.contact-gradient:hover,
	.contact-gradient:focus {
    	background-image: $contact-gradient;
    	color: hsl(0, 0%, 0%) !important
    }

    .push {
        margin-right: auto;

        a {
          	padding: 0;
        }
    }

    .header-logo {
      	height: 35px;
    }
}

.hero {
  	display: grid;
  	grid-template-columns: 2fr 3fr;
  	grid-gap: 2rem;
  	padding-left: 2rem;
  	padding-right: 2rem;
  	margin-top: 0;
  	margin-bottom: 0;

  	div:first-child {
    	display: flex;
    	justify-content: center;
    	flex-direction: column;
  	}

  	h1 {
    	font-size: 3rem;
    	font-family: 'Vollkorn', serif;
  	}

  	.button {
    	background-color: hsl(0, 0%, 100%);
    	border: 0;
    	text-decoration: none;
    	color: hsl(0, 0%, 25%);
    	border-radius: 7px;
    	padding: .5rem 1rem;
    	font-size: 1.5rem;
    	width: 250px;
    	text-align:center;
    	box-shadow:
        	0 0.9px 2.2px hsla(0, 0%, 0%, 0.02),
        	0 2.1px 5.3px hsla(0, 0%, 0%, 0.028),
        	0 4px 10px hsla(0, 0%, 0%, 0.035),
        	0 7.1px 17.9px hsla(0, 0%, 0%, 0.042),
        	0 13.4px 33.4px hsla(0, 0%, 0%, 0.05),
        	0 32px 80px hsla(0, 0%, 0%, 0.07);
    	transition: all .1s;
    	transition-timing-function: cubic-bezier(.17,.67,.83,.67);
	}

  	.button:hover,
  	.button:focus {
    	box-shadow:
    		0 1.4px 2.2px hsla(0, 0%, 0%, 0.02),
    		0 3.5px 5.3px hsla(0, 0%, 0%, 0.028),
    		0 6.5px 10px hsla(0, 0%, 0%, 0.035),
    		0 11.6px 17.9px hsla(0, 0%, 0%, 0.042),
    		0 21.7px 33.4px hsla(0, 0%, 0%, 0.05),
    		0 52px 80px hsla(0, 0%, 0%, 0.07);
    	cursor: pointer;
    	transform: translateY(-3px);
    	transition: all .2s;
    	transition-timing-function: cubic-bezier(.17,.67,.83,.67);
  }
}

.hero--interior-page {
	text-align:center;
	padding: 4rem;

	h1 {
		font-size: 3rem;
    	font-family: 'Vollkorn', serif;
	}
}

.content-wrapper {
  	padding: 1rem;
  	max-width: 85%;
  	margin: 0 auto;

	.lead {
    	max-width: 80%;
    	margin: 0 auto;
    	text-align: center;
  	}

  	h2 {
    	font-size: 2rem;
  	}

  	p {
    	font-size: 1.25rem;
  	}
}

a {
  	color: hsl(193, 81%, 33%);
  	text-decoration:underline;
}

a:hover,
a:focus {
  	text-decoration: none;
}

.five-four-grid {
  	display: grid;
  	grid-template-columns: 5fr 4fr;
  	grid-gap: 2rem;

  	div {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;

    	.five-four-grid__section {
      		margin-bottom: 2.25rem;
    	}

    	.five-four-grid__section:last-child {
      	margin-bottom: 0;
    	}
  	}
}

.four-five-grid {
  	display: grid;
  	grid-template-columns: 4fr 5fr;
  	grid-gap: 2rem;

  	div div {
    	border-radius: 7px;
    	padding: 2rem;
    	border: 1px solid hsl(210, 21%, 89%);
  	}
}

.vertical-half-grid {
  	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: 1fr 1fr;
  	grid-gap: 2rem;
}

.contact-grid {
  	display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    border-radius: 7px;
    box-shadow:
     	0 0.9px 2.2px hsla(0, 0%, 0%, 0.02),
      	0 2.1px 5.3px hsla(0, 0%, 0%, 0.028),
      	0 4px 10px hsla(0, 0%, 0%, 0.035),
      	0 7.1px 17.9px hsla(0, 0%, 0%, 0.042),
      	0 13.4px 33.4px hsla(0, 0%, 0%, 0.05),
      	0 32px 80px hsla(0, 0%, 0%, 0.07);

    	div {
        	display: flex;
        	flex-direction: column;
        	justify-content: center;
        	align-items: center;

        	p {
          		font-size: 1.25rem;
        	}
      	}
}

.contact-button {
  	padding: .5rem 0 .5rem 0;
    margin: 0 .25rem 0 .25rem;
    text-decoration: none;
    color: hsl(0, 0%, 35%);
    border-radius: 7px;
    background-image: $index-gradient;
    font-size: 1.25rem;
    color: hsl(0, 0%, 0%) !important;
    text-decoration:none !important;
    border: 0;
    width: 100%;
    text-align:center;
    box-shadow:
      	0 0.9px 2.2px hsla(0, 0%, 0%, 0.02),
      	0 2.1px 5.3px hsla(0, 0%, 0%, 0.028),
      	0 4px 10px hsla(0, 0%, 0%, 0.035),
      	0 7.1px 17.9px hsla(0, 0%, 0%, 0.042),
      	0 13.4px 33.4px hsla(0, 0%, 0%, 0.05),
      	0 32px 80px hsla(0, 0%, 0%, 0.07);
      	transition: all .1s;
      	transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.contact-button:hover,
.contact-button:focus {
  	box-shadow:
  		0 1.4px 2.2px hsla(0, 0%, 0%, 0.02),
  		0 3.5px 5.3px hsla(0, 0%, 0%, 0.028),
  		0 6.5px 10px hsla(0, 0%, 0%, 0.035),
  		0 11.6px 17.9px hsla(0, 0%, 0%, 0.042),
  		0 21.7px 33.4px hsla(0, 0%, 0%, 0.05),
  		0 52px 80px hsla(0, 0%, 0%, 0.07);
  		cursor: pointer;
  		transform: translateY(-3px);
  		transition: all .2s;
  		transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

.contact-button--index {
	background-image: $index-gradient;
}

.contact-button--work {
	background-image: $work-gradient;
}

.contact-button--articles {
	background-image: $articles-gradient;
}

.contact-button--contact {
	background-image: $contact-gradient;
}

footer {
  	display: grid;
  	grid-template-columns: 1fr 2fr 1fr;
  	margin: .5rem;
}

.footer-logo-container {
  	text-align: left;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	padding: 1rem;
}

.footer-logo-img {
  	height: 20px;
}

.footer-interior-grid {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	text-align:center;
}

.footer-copyright {
  	text-align:right;
}


@media all and (max-width: 768px) {

	.navigation {
    	flex-wrap: wrap;
    	text-align:center;

    	.push {
      		flex: 0 1 100%;
    	}

    	li {
      		flex: 1 0 33.3%;
    	}

    	a {
      		margin: 0 .25rem .5rem .25rem;
    	}
  	}

  	.hero {
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr;
    	grid-gap: 0;
    	padding-left: 1rem;
    	padding-right: 1rem;
    	margin-top: 0;
    	margin-bottom: 0;
  	}

  	.content-wrapper .lead {
    	max-width: 85%;
    	margin: 0 auto;
  	}

  	.five-four-grid {
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr auto-fit;
    	grid-gap: 1rem;
  }

  	.four-five-grid {
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr auto-fit;
    	grid-gap: 2rem;
  	}

  	.contact-grid {
    	display: grid;
      	grid-template-columns: 1fr;
      	grid-template-rows: auto-fit auto-fit;
      	grid-gap: 1rem;
	  }

  	footer {
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr 1fr;
    	margin: .5rem;
  	}

	  .footer-logo-container,
	  .footer-copyright {
    	text-align:center;
  	}

}